/* FONTS */
@font-face {
    font-family: "BEYNO";
    src: url("../fonts/BEYNO.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Monsieur Pomme";
    src: url("../fonts/Monsieur-Pomme.otf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Caviar Dreams";
    src: url("../fonts/CaviarDreams.ttf");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Caviar Dreams";
    src: url("../fonts/CaviarDreams_Bold.ttf");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Caviar Dreams";
    src: url("../fonts/CaviarDreams_Italic.ttf");
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: "Caviar Dreams";
    src: url("../fonts/CaviarDreams_BoldItalic.ttf");
    font-weight: bold;
    font-style: italic;
}

/* VARIABLES */
:root {
    --main-bg-color: #B2B2B2;
    --main-second-color: #878F99;
    --main-third-color: #FF7B25;
    --main-btn-primary-color: #FF7B25;
    --main-btn-primary-color-hover: #5f2c26;
    --main-btn-secondary-color: #878F99;
    --main-btn-secondary-color-hover: #F8F8FF;
    --main-text-color: #F8F8FF;
    --main-text-second-color: #878F99;
    --input-placeholder-color: rgba(248,248,255,0.6);
    --main-title-first-font: "BEYNO";
    --main-title-second-font: "Monsieur Pomme";
    --main-text-font: "Modern Sans";
    --main-text-second-font: "Caviar Dreams";
}

/* GLOBALS */
body {
    background-color: var(--main-bg-color);
    font-family: var(--main-text-font);
    color: var(--main-text-color);
}

h1 {
    font-family: var(--main-title-first-font);
}

h2 {
    font-family: var(--main-title-second-font);
}

h3 {
    font-family: var(--main-title-second-font);
}

/* BUTTONS */
.btn {
    font-family: var(--main-text-second-font);
}

button.btn-primary {
    color: var(--main-text-color);
    background-color: var(--main-btn-primary-color);
    border-color: var(--main-btn-primary-color);
}
button.btn-primary:hover {
    color: var(--main-text-color);
    background-color: var(--main-btn-primary-color-hover);
    border-color: var(--main-btn-primary-color-hover);
}

button.btn-secondary {
    color: var(--main-text-color);
    background-color: var(--main-second-color);
    border-color: var(--main-second-color);
}
button.btn-secondary:hover {
    color: var(--main-text-color);
    background-color: var(--main-btn-secondary-color-hover);
    border-color: var(--main-btn-secondary-color-hover);
}

.c-pointer {
    cursor: pointer;
}